[Desktop Entry]
Type=Application
Name=Serial Monitor Biomédico
Comment=Monitor multissinal com aquisição serial
Exec=/home/pi/processamento_biomedico/scripts/run_raspberry.sh
Terminal=false
Categories=Science;Education;
